In [98]:
# Importação de bibliotecas
import pandas as pd

# Importação do arquivo com dados brutos a partir do ano de 2022
df= pd.read_csv("../../data/processed/stacked_water.csv")

# Visualização para os tipos de dados
display(df.head(3))
df.info()

/tmp/ipykernel_18866/2330441546.py:5: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("../../data/processed/stacked_water.csv")

,MATRICULA,VALOR_FATURA,VOLUME_FATURA_AGUA,VOLUME_FATURA_ESGOTO,VOLUME_MEDIDO_AGUA,VOLUME_MEDIDO_ESGOTO,NOME_CLIENTE,HIDROMETRO,DATA_VENCIMENTO,TIPO_LOGRADOURO,NOME_LOGRADOURO,NUM_IMOVEL,COMPLEMENTO,INFO_COMPLEMENTO,BAIRRO
0,115001999,"24,24",0,0,0,0,PREF M BELO HORIZONTE PRACA,Y20G 0639417 ...,15/2/2022,PR,RIALTO,0,,,PADRE EUSTAQUIO
1,126981035,"24,24",0,0,0,0,PREF M BELO HORIZONTE BOUL ARRUDAS,F13S 0002381 ...,15/2/2022,AV,TERESA CRISTINA,0,,,CARLOS PRATES
2,23084286,"74,82",5,5,5,5,PREF M BELO HORIZONTE SLU,Y14N 0374749 ...,15/2/2022,R,INGAI,361,,,PADRE EUSTAQUIO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67533 entries, 0 to 67532
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MATRICULA             67533 non-null  int64
 1   VALOR_FATURA          67533 non-null  object
 2   VOLUME_FATURA_AGUA    67533 non-null  int64
 3   VOLUME_FATURA_ESGOTO  67533 non-null  int64
 4   VOLUME_MEDIDO_AGUA    67533 non-null  object
 5   VOLUME_MEDIDO_ESGOTO  67533 non-null  object
 6   NOME_CLIENTE          67533 non-null  object
 7   HIDROMETRO            67533 non-null  object
 8   DATA_VENCIMENTO       67533 non-null  object
 9   TIPO_LOGRADOURO       67533 non-null  object
 10  NOME_LOGRADOURO       67533 non-null  object
 11  NUM_IMOVEL            67533 non-null  int64
 12  COMPLEMENTO           67533 non-null  object
 13  INFO_COMPLEMENTO      67533 non-null  object
 14  BAIRRO                67533 non-null  object
dtypes: int64(4), object(11)
memory usage: 7.7+ MB

In [99]:
# Converter as colunas problemáticas para numérico, com NaN para valores não numéricos
non_numeric_col4 = df.iloc[:, 4][pd.to_numeric(df.iloc[:, 4], errors='coerce').isna()]
non_numeric_col5 = df.iloc[:, 5][pd.to_numeric(df.iloc[:, 5], errors='coerce').isna()]

# Exibir os valores não numéricos
print("Valores não numéricos na coluna 4:")
print(non_numeric_col4)

print("\nValores não numéricos na coluna 5:")
print(non_numeric_col5)

Valores não numéricos na coluna 4:
19654    00000007L
Name: VOLUME_MEDIDO_AGUA, dtype: object

Valores não numéricos na coluna 5:
19654    00000007L
Name: VOLUME_MEDIDO_ESGOTO, dtype: object

In [100]:
# Remover o 'L' do final de cada valor nas colunas afetadas
df['VOLUME_MEDIDO_AGUA'] = df['VOLUME_MEDIDO_AGUA'].astype(str).str.rstrip('L')
df['VOLUME_MEDIDO_ESGOTO'] = df['VOLUME_MEDIDO_ESGOTO'].astype(str).str.rstrip('L')

# Converter as colunas para numérico novamente
df['VOLUME_MEDIDO_AGUA'] = pd.to_numeric(df['VOLUME_MEDIDO_AGUA'], errors='coerce')
df['VOLUME_MEDIDO_ESGOTO'] = pd.to_numeric(df['VOLUME_MEDIDO_ESGOTO'], errors='coerce')

In [101]:
# Remover os pontos (separadores de milhar) na coluna com os valores das faturas
df['VALOR_FATURA'] = df['VALOR_FATURA'].str.replace('.', '', regex=False)
# Substituir ',' por '.'
df['VALOR_FATURA'] = df['VALOR_FATURA'].str.replace(',', '.', regex=False)
# Converter para númerico
df['VALOR_FATURA']= pd.to_numeric(df['VALOR_FATURA'])

In [102]:
# Converter data para datetime
df["DATA_VENCIMENTO"] = pd.to_datetime(df["DATA_VENCIMENTO"], format='mixed', dayfirst=True)

In [103]:
# Visualização de dados da coluna "BAIRRO"
df["BAIRRO"].unique()[:4]

array(['PADRE EUSTAQUIO               ', 'CARLOS PRATES                 ',
       'FLORAMAR                      ', 'TUPI A                        '],
      dtype=object)

In [116]:
# Retirada dos espaçamentos nas strings
df["BAIRRO"]= df["BAIRRO"].str.strip()

# Visualização do resultado
print(f"{df['BAIRRO'].unique()[:4]} \nTotal de bairros: {df['BAIRRO'].nunique()}")

['PADRE EUSTAQUIO' 'CARLOS PRATES' 'FLORAMAR' 'TUPI A']
Total de bairros: 343

In [105]:
# Separação das colunas que serão utilizadas
columns= ["MATRICULA", "VALOR_FATURA", "VOLUME_FATURA_AGUA", "VOLUME_FATURA_ESGOTO",\
          "VOLUME_MEDIDO_AGUA", "VOLUME_MEDIDO_ESGOTO", "DATA_VENCIMENTO", "BAIRRO"]
df= df[columns]

In [106]:
# Visualização dos dados tratados
display(df.head(3))
df.info()

,MATRICULA,VALOR_FATURA,VOLUME_FATURA_AGUA,VOLUME_FATURA_ESGOTO,VOLUME_MEDIDO_AGUA,VOLUME_MEDIDO_ESGOTO,DATA_VENCIMENTO,BAIRRO
0,115001999,24.24,0,0,0,0,2022-02-15,PADRE EUSTAQUIO
1,126981035,24.24,0,0,0,0,2022-02-15,CARLOS PRATES
2,23084286,74.82,5,5,5,5,2022-02-15,PADRE EUSTAQUIO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67533 entries, 0 to 67532
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MATRICULA             67533 non-null  int64
 1   VALOR_FATURA          67533 non-null  float64
 2   VOLUME_FATURA_AGUA    67533 non-null  int64
 3   VOLUME_FATURA_ESGOTO  67533 non-null  int64
 4   VOLUME_MEDIDO_AGUA    67533 non-null  int64
 5   VOLUME_MEDIDO_ESGOTO  67533 non-null  int64
 6   DATA_VENCIMENTO       67533 non-null  datetime64[ns]
 7   BAIRRO                67533 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 4.1+ MB

In [107]:
# Exportação do arquivo processado
#df.to_csv("../../data/processed/processed_water.csv", index=False, encoding="utf-8")